{% extends 'base.html.twig' %}

{% block title %}{{'Forgot.Password'|trans()}}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{'Forgot.Password'|trans()}}</h1>

    {{ form_errors(forgotPasswordForm) }}

    {{ form_start(forgotPasswordForm) }}

    <button class="btn btn-lg btn-primary" type="submit">
        {{'Forgot.Reset'|trans()}}
    </button>
    
    {{ form_end(forgotPasswordForm) }}
</form>
{% endblock %}