<h1>{{'Forgot.Email.title'|trans()}}</h1>
<p>Bonjour {{ username }},</p>
<p>{{'Forgot.Email.Message'|trans()}}</p>
<p><a href="{{ absolute_url(path('app_reset_password', {token:token, uuid:uuid} ))  }}">{{ absolute_url(path('app_reset_password')) }}</a></p>