{% extends 'base.html.twig' %}

{% block title %}{{'Reset.Password'|trans()}}{% endblock %}

{% block body %}
<form class="container" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{'Reset.Password'|trans()}}</h1>

    {{ form_errors(resetPasswordForm) }}

    {{ form_start(resetPasswordForm) }}

    <button class="btn btn-lg btn-primary" type="submit">
        {{'Reset.Submit'|trans()}}
    </button>
    
    {{ form_end(resetPasswordForm) }}
</form>
{% endblock %}