{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("assets/styles/home.css")}}">
{% endblock %}

{% block title %}
	HomePage |
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="background_home vh-100 ">
		<h1>{{title}}</h1>
		<h2>{{'Home.catch' | trans()}}</h2>
	</div>
	<div class="container d-flex flex-wrap justify-content-between">

		{% for trick in tricks  %}
			<div class="card m-2" style="width: 18rem;">
				{% for trickThumb in trickImage  %}
					{% if trickThumb.trick.name ==  trick.name %}
						<img class="cool_pics card-img-top" src="uploads/image/{{trick.slug | lower}}/{{trickThumb.fileName}}"/>
					{% endif %}
				{% endfor %}
				<div class="card-body">
					<h4 class="card-title"><a href="">{{trick.name}}</a></h4>
					<button class="btn btn-secondary"><i class="bi bi-pencil-square"></i></button>
					<button class="btn btn-secondary"></button>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
