{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("assets/styles/home.css")}}">
{% endblock %}

{% block title %}
	HomePage |
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="background-home p-3 d-flex flex-column ">
		<h1>{{title}}</h1>
		<h2 class="lead">{{'Home.catch' | trans()}}</h2>
		<div class="mt-auto p-2">
			<a href="#tricks" id="arrow_down" class="d-flex flex-row-reverse hidden">
				<i class="bi bi-arrow-down-circle-fill"></i>
			</a>
		</div>
	</div>
	<div class="container d-flex flex-wrap justify-content-between" id="tricks">

		{% for trick in tricks  %}
			<div class="trick card m-2 ">
				{{include('_partials/_main_image.html.twig', {'trick': trick})}}

				<div class="card-body d-flex justify-content-between p-1">
					<h4 class="card-title fs-5 text-muted">
						<a href="{{path('app_trick_detail', {slug:trick.slug})}}" class="">{{trick.name}}</a>
					</h4>
					{% if app.user %}
						<div class="d-flex">
							<a href="{{path('app_trick_update', {slug:trick.slug})}}">
								<button class="btn btn-secondary btn-sm me-2">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
							<form method="post" action="{{ path('app_delete_trick', {slug:trick.slug}) }}">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.slug) }}">
								<button class="btn btn-danger btn-sm me-2" onclick="showConfirmation()">
									<i class="bi bi-trash-fill"></i>
								</button>
							</form>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		<section class="container-fluid pt-3" id="loading">
			<div class="row" id="loading-tricks" data-limit="{{ limit }}"></div>
			{% if limitReached == false %}
				<div
					class="d-flex justify-content-center m-5" id="load_more">
					{# <div class="spinner-border me-3 " role="status" id="spinner">
																					<span class="visually-hidden loading">Loading...</span>
																				</div> #}
					<a href="{{path('homepage', {pageNb:pageNb} )}}#{{tricks[((pageNb-1)*limit)].slug}}">
						<button class="btn btn-secondary fw-bold" id="load">Load more</button>
					</a>
				</div>
			{% endif %}
			<div>
				<a href="#tricks" id="arrow_up" class="d-flex flex-row-reverse hidden">
					<i class="bi bi-arrow-up-circle-fill"></i>
				</a>
			</div>

		</section>

	</div>
{% endblock %}
