{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="container">
		<h1>{{'Register' |trans()}}</h1>


		{{ form_start(registrationForm) }}
		{{ form_errors(registrationForm) }}
		{{ form_row(registrationForm.username, {'label': 'Nom d\'utilisateur', 'attr':{'placeholder': 'Nom d\'utilisateur ...'}})}}
		{{ form_row(registrationForm.email, {'label': 'Adresse email', 'attr':{'placeholder': 'Adresse email ...'}}) }}
		{{ form_row(registrationForm.password, {'label': 'Mot de passe', 'attr':{'placeholder': 'Mot de passe ...'}})}}
		<h3>Choose a Profile Picture:</h3>

		<div class="container form-check">
			<div class="d-flex flex-wrap justify-content-center">
				{% for profilPic in registrationForm.profilPicId %}
					<div class="mx-3 mb-3">
						<img class="img-thumbnail profil-pic" src="{{ asset('assets/image/profil-pic/' ~ profilPic.vars.label) }}" alt="{{ profilPic.vars.label }}">
						{{ form_row(profilPic)}}
					</div>
				{% endfor %}
			</div>
		</div>
		<button type="submit" class="btn btn-primary">{{'Register'|trans()}}</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
