{% extends 'base.html.twig' %}


{% block body %}
	<div class="container ">
		<h1>{{ 'Trick.Create' |trans()}}</h1>

		{# Create a new trick with the TrickCreateFormType form #}
		{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.category) }}
		{{ form_row(form.images, {'attr': {'class': 'form-control'}}) }}

		<button type="button" class="add_item_link btn btn-primary mb-1" data-collection-holder-class="videos">Add a video</button>

		<ul class="videos list-group mb-1" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
			{% for video in form.videos %}
				<li class="list-group-item">
					<div class="form-group">
						{{ form_label(video.iframe, 'Video', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(video.iframe, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(video.iframe) }}
					</div>
				</li>
			{% endfor %}
		</ul>
		{# Render any remaining form fields (e.g., CSRF token) #}
		<button type="submit" class="btn btn-primary">Submit</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/js/videoembededcollection.js')}}"></script>
{% endblock %}
