{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("assets/styles/home.css")}}">
	<link rel="stylesheet" href="{{asset("assets/styles/trick.css")}}">
{% endblock %}

{% block title %}Hello TrickController!
{% endblock %}


{% block body %}
	<div class="background_home vh-100  "></div>

	<div class="trick-detail-card example-wrapper container position-absolute top-50 start-50 translate-middle">

		<div class="card mb-3 ">
			{% for image in images %}
				{% if image.mainImage %}
					<img src="../uploads/image/{{trick.slug | lower}}/{{image.fileName}}" class="card-img-top " alt="...">
				{% endif %}
			{% endfor %}
			<div class="card-body">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
					{% for image in images %}
						{% if image.mainImage == 0 %}
						<div class="carousel-item active">
							<img src="../uploads/image/{{trick.slug | lower}}/{{image.fileName}}" class="small-pics card-img-top " alt="...">
						</div>
						{% endif %}
					{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<h5 class="card-title">{{trick.name}}</h5>
				<p class="card-text">{{trick.description}}</p>
				<p class="card-text">
					<small class="text-body-secondary">{{trick.createdAt|date("m/d/Y", "Europe/Paris")}}</small>
				</p>
				<div></div>
				<div></div>


			</div>

		</div>


	</div>
{% endblock %}
