{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("assets/styles/trick.css")}}">
{% endblock %}

{% block title %}
	{{trick.name}}
{% endblock %}

{% block body %}
	<div class="background-trick vh-100 position-relative"></div>

	<div class="trick-detail-card example-wrapper container position-absolute top-50 start-50 translate-middle" id="trick-detail-card">
		<div class="card mb-3" id="tricks">
			{{include('_partials/_main_image.html.twig', {'trick': trick})}}

			{% if app.user %}
				<div class="d-flex position-absolute update-btn m-2">
					<a href="{{path('app_trick_update', {slug:trick.slug})}}">
						<button class="btn btn-secondary btn-sm me-2">
							<i class="bi bi-pencil-square"></i>
						</button>
					</a>
					<form method="post" action="{{ path('app_delete_trick', {slug:trick.slug}) }}">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.slug) }}">
						<button class="btn btn-danger btn-sm me-2" onclick="showConfirmation()">
							<i class="bi bi-trash-fill"></i>
						</button>
					</form>
				</div>
			{% endif %}

			<div class="card-body">
				<div class="d-flex flex-column justify-content-evenly">
					<button class="btn btn-primary " id="responsive-pics-button" type="button">
						View Images & Videos
					</button>
					<div class="container border-bottom pb-3 justify-content-between" id="pics-n-video">
						<div class="d-flex flex-wrap align-items-center justify-content-evenly">
							{% for image in trick.images %}
								<img src="{{asset('uploads/image/' ~ image.fileName)}}" class="small-pics card-img-top rounded m-2" alt="...">
							{% endfor %}
						</div>
						<div class="d-flex flex-wrap align-items-center justify-content-evenly">
							{% for video in trick.videos %}
								<iframe width="200" height="150" src="{{video.iframe}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							{% endfor %}
						</div>
					</div>
				</div>
				<h3 class="card-title mt-2">{{trick.name}}</h3>
				<p class="card-text">{{trick.description}}</p>
				<div class="d-flex flex-wrap justify-content-evenly align-items-center">
					<p class="">
						<small class="text-body-secondary">{{'Trick.Created'|trans()}}
							{{trick.createdAt|date("m/d/Y", "Europe/Paris")}}</small>
					</p>
					<p>{{'Trick.Category'|trans() }}
						:
						{{trick.category.name}}</p>
					{% if trick.updatedAt  is not null %}
						<p>{{'Trick.Updated'|trans()}}
							{{trick.updatedAt|date("m/d/Y", "Europe/Paris")}}</p>
					{% endif %}
				</div>
				{% if app.user != null %}
					{{ form_start(form)}}
					{{ form_errors(form.content)}}
					<div class="d-flex flex-wrap justify-content-evenly">
						{{ form_widget(form.content, {'attr': {'placeholder': 'Trick.Comment.Content' | trans(), 'class': 'd-block '} })}}
						<button type="submit" class="btn btn-primary btn-sm m-2">{{'Trick.Comment.Submit'|trans()}}</button>
					</div>
					{{ form_end(form) }}
				{% endif %}
				<div class="container d-flex flex-column align-items-center mt-3 pt-3 border-top">
					{% for comment in commentList %}
						<div class="d-flex flex-start align-items-center">
							<div class="profil-pic">
								{{include('_partials/_profil_pic.html.twig', {'comment': comment})}}
							</div>
							<div class="comment-details ms-2">
								<h6 lass="fw-bold mb-1">{{comment.author.username}}</h6>
								<div class="d-flex align-items-center ">
									<p class="text-secondary mb-0">{{comment.createdAt|date("d/m/Y H:i:s", "Europe/Paris")}}</p>
								</div>
								<p class="mb-0">{{comment.content}}</p>
							</div>
						</div>
					{% endfor %}

				</div>
				<section class="container-fluid pt-3" id="loading">
					<div class="row" id="loading-tricks" data-limit="{{ limit }}"></div>
					{% if limitReached == false %}
						<div class="d-flex justify-content-center m-5" id="load_more">
							<a href="{{path('app_trick_detail', {slug:trick.slug , pageNb:pageNb})}}#loading-tricks">
								<button class="btn btn-secondary fw-bold" id="load">Load more</button>
							</a>
						</div>
					{% endif %}
					<div>
						<a href="#tricks" id="arrow_up" class="d-flex flex-row-reverse hidden">
							<i class="bi bi-arrow-up-circle-fill"></i>
						</a>
					</div>

				</section>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/confirmDelete.js')}}"></script>
	<script src="{{asset('assets/js/moveCardTrick.js')}}"></script>
	<script src="{{asset('assets/js/toggleTricksImage.js')}}"></script>
{% endblock %}
