{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("assets/styles/trick.css")}}">
{% endblock %}

{% block title %}{{trick.name}}
{% endblock %}

{% block body %}
	<div class="background-trick vh-100 position-relative"></div>
	<div class="trick-detail-card example-wrapper container position-absolute top-50 start-50 translate-middle">
		<div class="card mb-3 main-pic">
		{{ form_start(form) }}
			{{include('_partials/_main_image.html.twig', {'trick': trick})}}
			{% for image in trick.images %}
				{% if app.user %}
					<div class="d-flex position-absolute update-btn m-2">
						<a href="">
							<button class="btn btn-secondary btn-sm me-2">
								<i class="bi bi-pencil-square"></i>
							</button>
						</a>
						<button class="btn btn-danger btn-sm" onclick="showConfirmation()">
							<i class="bi bi-trash-fill"></i>
						</button>
					</div>
				{% endif %}
			{% endfor %}
			<div class="card-body">
				<div class="d-flex border-bottom pb-3 justify-content-between">
					<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
						<div class="carousel-inner">
						{{ form_widget(form.images, {'attr': {'hidden':'hidden'}}) }}
							{% for image in trick.images %}
								<img src="{{asset('uploads/image/' ~ trick.slug | lower ~ '/' ~ image.fileName)}}" class="small-pics card-img-top rounded" alt="...">
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
						<div class="carousel-inner">
						{{ form_widget(form.videos, {'attr': {'hidden':'hidden'}}) }}
							{% for video in trick.videos %}
								<iframe width="200" height="150" src="{{video.iframe}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							{% endfor %}
						</div>
					</div>
				</div>

				<h5 class="card-title">{{ form_widget(form.name, {'attr': {'placeholder': trick.name}}) }}</h5>
				<p class="card-text">{{ form_widget(form.description, {'attr': {'placeholder': trick.description}}) }}</p>
				<div class="d-flex justify-content-evenly">
					<p class="card-text">
						<small class="text-body-secondary">{{trick.createdAt|date("m/d/Y", "Europe/Paris")}}</small>
					</p>
					<p>{{ form_widget(form.category, {'attr': {'placeholder': trick.category.name}}) }}</p>
					{% if trick.updatedAt %}
						<p>{{trick.updatedAt|date("m/d/Y", "Europe/Paris")}}</p>
					{% endif %}
				</div>
				<div class="container d-flex flex-column alignt-items-center mt-3 pt-3 w-50 comment-list">
					
					<!-- Ajouter le bouton et la logique loadmore  de 10 en 10 -->
				</div>
				
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		function showConfirmation() { // Display a confirmation dialog with translated message
var result = window.confirm("{{ 'Trick.ConfirmDelete'|trans }}");

// Check the user's choice and perform the action or navigate to the link
if (result) {
window.location.href = "your_link_url"; // Replace with the actual URL
} else { // Optional code if needed
}
}
	</script>
{% endblock %}
